<div class="container-fluid">
	<div class="jumbotron">
		<h1>The Brewery Coffee House</h1>
		<!--<p id="time">Time</p>
		<p id="date">Date</p>-->
	</div>
</div>
<div class="container">
	<div class="row">
		<!-- THE MENU PANEL-->
		<div class="col-md-8 col-sm-8 col-xs-8">
			<!-- TABS AT TOP -->
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">T/A HOT DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">T/A COLD DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">SIT IN HOT DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">SIT IN COLD DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">FOOD</div>
				<div class="col-md-2 col-sm-2 col-xs-2">RETAIL</div>
			</div>
			<!-- CONTENTS -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::HotDrinkSitIn').each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default">
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<!-- THE TOTAL AND ITEM LIST PANEL-->
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<table class="table table-hover">
						<thead><tr><th>TOTAL</th></tr></thead>
						<tbody>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button> - </button>
					<button>Manager Functions</button>
				</div>
			</div>
		</div>
	</div>
</div>

