<div class="container-fluid">
	<div class="jumbotron">
		<h1>The Brewery Coffee House</h1>
		<!--<p id="time">Time</p>
		<p id="date">Date</p>-->
	</div>
</div>
<div class="container">
	<div class="row">
		<!-- THE MENU PANEL-->
		<div class="col-md-8 col-sm-8 col-xs-8">
			<!-- TABS AT TOP -->
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">T/A HOT DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">T/A COLD DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">SIT IN HOT DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">SIT IN COLD DRINKS</div>
				<div class="col-md-2 col-sm-2 col-xs-2">FOOD</div>
				<div class="col-md-2 col-sm-2 col-xs-2">RETAIL</div>
			</div>
			<!-- CONTENTS -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-3">
						    <div class="panel panel-default">
						      <div class="panel-body"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG"></div>
						      <div class="panel-footer">Item Name</div>
						    </div>
						</div>
					    <div class="col-md-3">
						    <div class="panel panel-default">
						      <div class="panel-body"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG"></div>
						      <div class="panel-footer">Item Name</div>
						    </div>
						</div>
						<div class="col-md-3">
						    <div class="panel panel-default">
						      <div class="panel-body"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG"></div>
						      <div class="panel-footer">Item Name</div>
						    </div>
						</div>
						<div class="col-md-3">
						    <div class="panel panel-default">
						      <div class="panel-body"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG"></div>
						      <div class="panel-footer">Item Name</div>
						    </div>
						</div>
						<div class="col-md-3">
						    <div class="panel panel-default">
						      <div class="panel-body"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG"></div>
						      <div class="panel-footer">Item Name</div>
						    </div>
						</div>
					  </div>
				</div>
			</div>
		</div>
		<!-- THE TOTAL AND ITEM LIST PANEL-->
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<table class="table table-hover">
						<thead><tr><th>TOTAL</th></tr></thead>
						<tbody>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button> - </button>
					<button>Manager Functions</button>
				</div>
			</div>
		</div>
	</div>
</div>

