// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#productTitle, #salesTitle{
	background: rgba(255,253,253,0.85);
	// color:#742E0D;
	font-size: 60px;
}
.textFieldSales{
	font-family: Verdana;
}
.updateSalesBtn{
	border-radius: 2px;
	border:none;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color:white;
	background: #742E0D;
}
.titles{
	padding-top: 10px;
	padding-bottom: 10px;
	background:#DDDDDD;
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: center;

}
.popUpTitles {
	color:#742E0D;
}
.modal-header, .modal-title {
	font-size: 40px;
	color:#742E0D;
	background:#DDDDDD;
}
.modal-content{
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.50);
	background: rgba(255,253,253,0.85) !important;
}
table{
	border-radius: 3px !important;
	margin-bottom: 50px !important;
}
thead, th{
	text-align: center;
}