// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#productTitle, #salesTitle{
	line-height: 30px;
	padding-bottom: 20px;
	font-family: Copperplate-Bold;
	font-size: 64px;
	color: #A1957D;
	letter-spacing: 0px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.50);
}
.textFieldSales{
	font-family: Verdana;
}
.updateSalesBtn{
	border-radius: 2px;
	border:none;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color:white;
	background: #742E0D;
}
.titles{
	cursor:default;
	min-height:64px;
	padding-top: 20px;
	background: #362A19;
	border: 1px solid #979797;
	margin-bottom: 20px;
	vertical-align: center;
}
.popUpTitles {
	color:#742E0D;
}
.modal-header, .modal-title {
	font-size: 40px;
	color:#742E0D;
	background:#DDDDDD;
}
.modal-content{
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.50);
	background: rgba(255,253,253,0.85) !important;
}
table{
	border-radius: 3px !important;
}
thead, th{
	text-align: center;
}
.returnHome{
	background:#945321;
	margin-top: 15px;
	border-radius: 3px;
	border:none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color:white;
}
#product_name, #product_type, #product_price, #product_vat_rate,.glyphicon-eye-open, #tableButton{
	margin-top: 15px;
}
#product_visible{
	margin-top: 17px;
}
#product_image{
	margin-top: 25px;
}
#tableButton{
	
}
