<div class= "panel-group col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
 <div class="panel panel-default" style="margin-top:20px; padding-top:10px; background:rgba(255,253,253,0.80);">
 	<div class="panel-heading">
 		<h1 class="popUpTitles text-center">Edit Sale</h1>
 	</div>
  <div class="panel-body">


<%= render 'form', sale: @sale %>

</div>
	<div class="panel-footer">
	<%= link_to 'Show', @sale %> |
	<%= link_to 'Back', sales_path %>
	</div>
</div>
</div>
