<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title text-center">Sale</h4>
      <h5 class="modal-title text-center"><%= @sale.created_at.strftime '%a, %e %b at %k:%M:%S' %></h5>
    </div>

    <div class="modal-body">
      <%= render 'form', sale: @sale %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
